{:deps {io.github.dfornika/ncbi-api-client-clj
        {:git/url "https://github.com/dfornika/ncbi-api-client-clj.git"
         :git/sha "7c4617fededa0b352e4c3264c240039722eda89d"}}

 :paths ["src/main"]

 :aliases
 {:dev {:extra-paths ["src/dev"]}
  :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "1.7.0"}
                       ch.qos.logback/logback-classic {:mvn/version "1.5.34"}}
          :jvm-opts ["-Djdk.attach.allowAttachSelf"]
          :main-opts ["-m" "nrepl.cmdline" "--port" "7888"]}}}
